<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fdroid.fdroid.privileged">

    <!-- These permissions are only granted when this apk is installed as a privileged app! -->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <!--
        Only apps signed with the same key can use this permission!
        The permission is automatically granted independent of the install order
        Never presented to the user due to the protectionLevel.
     -->
    <permission
        android:name="com.jtechme.apphub.privileged.USE_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <service
            android:name="com.jtechme.apphub.privileged.PrivilegedService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.fdroid.fdroid.privileged.USE_SERVICE"
            android:process=":fdroid_privileged">
            <intent-filter>
                <action android:name="com.fdroid.fdroid.privileged.IPrivilegedService" />
            </intent-filter>
        </service>

    </application>

</manifest>
